.search-form input {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  width: 360px;
  padding: 8px;
  border: transparent;
  border-radius: 4px;
}

.icon-search {
  margin-left: 10px;
  width: 20px;
  height: 20px; 
}

.search-button {
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #edf0f5;
  &:hover,
  &:focus {
    background-color: #d7defb;
  }
}
