.load-more {
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #3d77ce;
    color: #fff;
}

.search-images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3d77ce;
    
}